@font-face {
    font-family: "Dance";
    src: url("./assets/font-family/Dancing_Script4/DancingScript-VariableFont_wght.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}

#main-container{
    width: 100%;
    height: 100%;
    background-color:#efefef;
}
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #000;
    padding: 5px 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    color: #fff;
}
.nav-bar-left{
    width: 20%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Dance;
    letter-spacing: 2px;
}
.nav-bar-right{
flex-grow: 1;
/* background-color: blue; */
display: flex;
justify-content: end;
align-items: center;
}
.nav-bar-right>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.nav-bar-right>div>div>a{
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;
}